.activeEl {
  background-color: #db1c48;
  color: #ffffff;
  border: none;
  padding: 6px;
  border-radius: 10px;
}

.notActive {
  color: #db1c48;
  border: 1px solid #db1c48;
  background-color: #ffffff;
  padding: 6px;
  border-radius: 10px;
}

.list {
  list-style-type: none;
  margin:10px;
}
